body{
  background: grey;
}



/* header navigation */
.navigat {
  display: inline-block;
  border: solid 2px black;
  padding: 8px;
}
.h1a:hover{
  text-decoration: none;
  color: white;
}
.navigat:hover{
  border: solid 2px;
  padding: 8px;
  border-radius: 10px;
  transform: scale(1.2);
  transition: all 1s;

   -webkit-animation-name: borderColors;
    -webkit-animation-iteration-count: infinite;
    -webkit-animation-duration: 3s;
}
@-webkit-keyframes borderColors {
  0% { border-color: red; }
  30% { border-color: blue; }
  50% { border-color: yellow; }
  70% { border-color: grey; }
  100% { border-color: green; }
}
.navigat:active{
  background-color: white;
  color: red;
}
.h1a{
  color: white;
  text-decoration: none;
}
header{
  background-color: black;
}
ul{
  /* background-color: black; */
  padding: 20px 0 20px;
  margin: 0;
  display: flex;
  justify-content: flex-end;
}
nav{
  text-align: center;
}
.photos{
  margin-left: 50px;
  margin-right: 50px;
}
.about{
  margin-right: 50px;
}
.contact{
  margin-right: 50px;
}



.slider{
  background-color: white;
  max-width: 100%;
  height: 400px;
}
