body{
  background: grey;
  font-family: 'Bellefair', serif;
  font-size: 17px;
}



/* header navigation */
.navigat {
  display: inline-block;
  border: solid 2px black;
  padding: 8px;
  color: white;
}
.h1a:hover{
  text-decoration: none;
  color: white;
}
.navigat:hover{
  border: solid 2px red;
  padding: 8px;
  border-radius: 10px;
  transform: scale(1.2);
  transition: all 1s;
  color: white;

   -webkit-animation-name: borderColors;
    -webkit-animation-iteration-count: infinite;
    -webkit-animation-duration: 3s;
}
@-webkit-keyframes borderColors {
  0% { border-color: white; }
  100% { border-color: red; }
  /*50% { border-color: yellow; }
  70% { border-color: grey; }
  100% { border-color: green; }*/
}
.navigat:active{
  background-color: white;
  color: red;
}
.h1a{
  color: white;
  text-decoration: none;
}
header{
  background-color: black;
}
ul{
  /* background-color: black; */
  padding: 20px 0 20px;
  margin: 0;
  display: flex;
  justify-content: flex-end;
}
nav{
  text-align: center;
}
.margin {
  margin-left: 20px;
  margin-right: 20px;
}

.contact{
  /*margin-right: 50px;*/
}

/*.logo {
  display: flex;

}*/

.btn.focus, .btn:focus {
  box-shadow: none;
}

.size {

}

.dropdown-menu {
  background-color: rgba(190, 190, 190, 0.6);
}

.dropdown-item {
 color: white;
}

img {
  width: 50px;
  height: 50px;
  margin-top: 15px;
}

.fa-home, .fa-users, .fa-sign-in-alt, .fa-registered, .fa-address-book, .fa-bomb, .fa-address-card {
  color: red;
}

.section-box {
    background-color: white;
    width: 100%;
    position: fixed;
    bottom: 0;
    padding-top: 10px;
    padding-bottom: 10px;
}

video {
  height: 100%;
  width: 100%;
  position: fixed;
  object-fit: cover;
  z-index: -1;
}

.slash {

    width: 50px;
    display: inline-block;
    height: 20px;
    padding: ;
}


.contacts {
display: inline-block;
}
